/build/
/nimcache/
/tests/test_cli
/tests/test_amiga_iff_ilbm
/tests/test_amiga_anim
/tests/test_amiga_pbm
/tests/test_amiga_adf
/tests/test_zip_archive
/tests/test_pcx
/tests/test_bmp
/tests/test_png
/tests/test_gif
/tests/test_qoi
/tests/test_netpbm
/tests/test_amos_bank
/tests/test_amos_packed_picture
/tests/test_amos_bank_set
/tests/test_amos_program
/tests/test_amos_sprite_icon_bank
/tests/test_operations
/tests/test_zx_spectrum_screen
/tests/test_zx_spectrum_snapshot
/tests/test_zx_spectrum_basic
/tests/test_zx_spectrum_tap
