/build/
/nimcache/
/tests/test_cli
/tests/test_amiga_16sv
/tests/test_amiga_8svx
/tests/test_amiga_iff_ilbm
/tests/test_amiga_acbm
/tests/test_amiga_anim
/tests/test_amiga_pbm
/tests/test_amiga_adf
/tests/test_amiga_diskfont
/tests/test_amiga_dms
/tests/test_amiga_hunk
/tests/test_amiga_workbench_icon
/tests/test_zip_archive
/tests/test_lha_archive
/tests/test_powerpacker
/tests/test_xpk_shri
/tests/test_iso9660
/tests/test_pcx
/tests/test_bmp
/tests/test_png
/tests/test_jpeg
/tests/test_gif
/tests/test_qoi
/tests/test_netpbm
/tests/test_tga
/tests/test_flic
/tests/test_windows_icon
/tests/test_openraster
/tests/test_koala_painter
/tests/test_ansi_art
/tests/test_bitmap_font
/tests/test_fzx
/tests/test_bmfont_import
/tests/test_wav
/tests/test_creative_voice
/tests/test_paint_net_palette
/tests/test_doom_wad
/tests/test_amos_bank
/tests/test_amos_packed_picture
/tests/test_amos_bank_set
/tests/test_amos_program
/tests/test_amos_sprite_icon_bank
/tests/test_operations
/tests/test_zx_spectrum_screen
/tests/test_zx_spectrum_snapshot
/tests/test_zx_spectrum_basic
/tests/test_zx_spectrum_tap
/tests/test_format_refinement
